body {
  background-color: rgb(172, 172, 172) !important;
}

nav .nav-wrapper {
  background-color: black;
  position: fixed !important;
  height: auto !important;
  width: 100%;
}

nav .brand-logo {
  margin: 0;
}

#wrapper {
  width: 100%;
  margin-right: auto;
  padding-top: 20px;
  text-align: center;
}

#articles {
  display: inline-block;
}

.article {
  margin-bottom: 20px;
  margin-left: 20%;
  background-color: rgb(63, 63, 63);
  color: white;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.addNotes {
  margin-bottom: 20px;
  margin-left: 20%;
  background-color: rgb(63, 63, 63);
  color: white;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.article:hover {
  background-color: rgba(19, 46, 23, 0.9);
  transition: background-color 1s;
  transition-timing-function: ease;
}

.no-dec:hover {
  text-decoration: none;
}

.title {
  font-size: 25px;
  margin-bottom: -15px;
}

.body-text {
  font-size: 15px;
  text-align: center;
  background-color: white;
  color: black;
  padding: 5%;
  width: 100%;
}

.jumbotron {
  text-align: center;
  font-size: 70px;
  font-family: "IM Fell English SC", serif;
  color: white;
  background-color: rgb(19, 27, 27) !important;
  width: 100%;
  padding: 5% !important;
  border-radius: 0px !important;
  background-image: url(./images/news.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 600px) {
  .article {
    width: 90%;
    margin-left: 5%;
  }

  .title {
    font-size: 18px;
  }

  .body-text {
    font-size: 13px;
  }

  body {
    padding-top: 20%;
  }

  .jumbotron {
    margin-top: -20%;
    font-size: 45px;
  }

  nav .nav-wrapper {
    position: fixed !important;
    background-color: black;
    top: 0;
    margin-top: 0px;
    width: 100%;
    height: auto !important;
  }
}
